.mainContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.sliderContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Push background behind content */
}

.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: left 1s ease-in-out;
}

.active {
  left: 0;
}

.slide:not(.active) {
  left: -100%;
}

.overlayContent {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
}
.text {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0); /* Slight upward slide effect */
}

.fadeInDelayed {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s; /* Delay fade-in for the <p> */
}

.fadeOut {
  opacity: 0;
  transform: translateY(20px); /* Slight slide-down effect during fade-out */
}
